@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

[class*="-container"] {
	max-width: 1230px;
	margin: 0 auto
}

body {
	font-family: "Lato";
	color: #424551;
	line-height: 1.6;
}

header {
	font: 20px "Lato";
	margin-bottom: 30px;
}

main {
	margin-bottom: 30px;
}

.page-container img {
	max-width: 1230px;
	margin: 0 auto;
}

footer {
	color: #EBE691;
	text-align: center;
	background: linear-gradient(135deg, #413659b3 0%,rgba(65,54,89,0.7) 19%,rgba(65,54,89,0.7) 32%,rgba(65,54,89,0.7) 48%,rgba(65,54,89,0.7) 63%,rgba(65,54,89,0.7) 100%), url(../img/ukraine.jpg) 0 0 / contain repeat-x;
	font: 20px/3 "Lato";

}